<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:mani="http://schemas.android.com/apk/res/android"
    package="de.hfu.tugofwarhfu" >

    <uses-sdk
        mani:minSdkVersion="16"
        mani:targetSdkVersion="25" />
    

    <application
        mani:label="@string/app_name">
        <activity
            mani:icon="@drawable/ic_launcher"
            mani:name="de.hfu.tugofwarhfu.MenuActivity"
            mani:label="@string/app_name" >
            <intent-filter>
                <action mani:name="android.intent.action.MAIN" />
                <category mani:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity mani:name="AnleitungActivity"></activity>
        <activity mani:name="CreditsActivity"></activity>
        <activity mani:name="GameActivity"></activity>
        <activity mani:name="LoseActivity"></activity>
        <activity mani:name="WinActivity"></activity>
    </application>

</manifest>
